<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Daftar Kontak</h2>
            <a href="/contact/add" class="btn btn-primary btn-sm mb-3 mt-2">Add Contact</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (contacts.length == 0) { -%>
                        <tr>
                            <td colspan="4">
                                <div class="alert alert-danger fw-bold text-center" role="alert">
                                    Contact Kosong 
                                </div>
                            </td>
                        </tr>
                    <% } -%>
                    <% contacts.forEach((contact, i) => { %>
                    <tr>
                        <td scope="row"><%= ++i %></td>
                        <td><%= contact.nama %></td>
                        <td><%= contact.email %></td>
                        <td>
                            <!-- <div class="badge rounded-pill bg-success" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#detailModal"> -->
                            <a href="/contact/<%= contact.nama %>" class="badge rounded-pill bg-success" style="cursor: pointer;">
                                <i class="bi bi-info-circle"></i>
                                Detail
                            </a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('component/modal') %>
</div>